body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

p, ul, ol, dl {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 12px;
}

ol {
  list-style-position: inside;
}

blockquote {
  border-left: 4px grey solid;
  padding-left: 20px;
  margin-left: 30px
}

#comment-notes {
  background-color: #ccc;
  padding: 12px;
}
